<% provide(:title, 'About') %>

<section>
  <h2>What is CRUD?</h1>
  <p>Create, Read, Update, Delete</p>
  <p>A description of CRUD in web development</p>
</section>

<section>
  <h2>What The CRUD App Does</h2>
  <p>This is a description of what this app does</p>
</section>

<section>
  <h2>Tools</h2>
  <p>These are the tools and gems used to create The CRUD App</p>
</section>

<section>
  <h2>Why</h2>
  <p>Here will be a description of why I made this app</p>
</section>

<section>
  <h2>Who</h2>
  <p>This is a description about me</p>
  <p>MAYBE ADD THIS SECTION TO AN ABOUT ME PAGE?</p>
  <p>I will also include contact information for:</p>

  <ol>
    <li>Twitter</li>
    <li>Linkedin</li>
    <li>Github</li>
  </ol>
</section>