<% provide(:title, 'About') %>

<section>
  <h3>What is CRUD?</h3>
  <p>Create, Read, Update, Delete.</p>
  <p>A description of CRUD in web development.</p>
</section>

<section>
  <h3>What The CRUD App Does</h3>

  <p>CRUD is an acronym. It stands for Create, Read, Update, and Delete.These are programming operations that most all [web] applications utilize. Holding true to CRUD this application, The CRUD App, makes use of users and articles.</p>

  <h3>CREATE</h3>

  <p>Upon your first visit to The CRUD App you will be prompted to sign up (CREATE). This requires a user to chose a unique username, input their email, and input a password to protect their account.</p>

  <h3>READ</h3>

  <p>The CRUD App users, and even non-account holders can view users and read articles. However, in order to specifically search for a user or a specific article a visitor must sign in or sign up.</p>

  <h3>UPDATE</h3>

  <h3>DELETE</h3>

</section>

<section>
  <h2>Tools</h2>
  <p>These are the tools and gems used to create The CRUD App.</p>

  <ul>
    <li>Ruby Programming Language</li>
    <li>Rails - This is commonly referred to as Ruby on Rails.</li>
    <li>Gems</li>
    <aside>RubyGems are small packages of code to assist with programming. These are used to help speed up the development project and not "re-invent the wheel".</aside>
      <ul>
        <li>Devise</li>
        <aside>This is an authentication gem. It is the engine that runs The CRUD App's signup/login functionality.</aside>
      </ul>
    <li>Bootstrap</li>
    <li>Webpack</li>
    <li>Sqlite3 (development) and PostgreSQL (production)</li>
  </ul>
</section>

<section>
  <h2>Why</h2>
  <p>Here will be a description of why I made this app</p>

  <p>I made this app for two reasons. One and the main reason is to practice and improve my understanding of web development with Ruby on Rails. The second reason is to begin the journey of building projects continuously, little by little, and every day pushing new code online. I want to build a portfolio which will help me learn and grow.</p>
</section>

<section>
  <h2>Who</h2>
  <p>This is a description about me</p>
  <p>My name is Matthew Frazier. I am from Kansas, USA. However I live in Tokyo, Japan. At the time of writing this I am 33 years old and work as an English conversation teacher.</p>

  <p>MAYBE ADD THIS SECTION TO AN ABOUT ME PAGE?</p>
  <p>I will also include contact information for:</p>

  <p>Please check me out online, follow my progress and feel free to contact me.</p>

  <ol>
    <li>
      <a href="https://twitter.com/mattfraz38" target="_blank">
        <%= image_pack_tag "twitter.svg"%>      
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/matthew-frazier-2879bb142/" target="_blank">
        <%= image_pack_tag "linkedin.svg"%>      
      </a>
    </li>

    <li>
      <a href="https://github.com/mattfraz38" target="_blank">
        <%= image_pack_tag "github.svg"%>      
      </a>
    </li>
  </ol>
</section>