<% provide(:title, 'Welcome') %>

<%# <div class="d-flex flex-wrap vh-100"> %>
<div class="row">
  <%# <section class="w-50 bg-info"> %>
  <section class="col-md">  
    <h1>Welcome to Static INDEX</h1>
  </section>

  <%# <section class="w-50 bg-warning"> %>
  <section class="sign-up col-md"> 
    <%= render "shared/sign_up_form" %>
  </section>
</div>