$primary: #158170;
@import "bootstrap";


.sign-up, .sign-in, .edit, .new-article, .articles {
  background-color: #EEEEEE;
  border-radius: 3px;
}

nav {
  background-color: #84E4E2;
}

.call-to-action {
  overflow-x: hidden;
}

.brand {
  margin: 5px;

}
.welcome-logo {
  width: 65%;
  border-radius: 5px;
}
