$primary: #158170;
@import "bootstrap";

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sign-up, .sign-in, .edit, .new-article, .articles {
  background-color: #EEEEEE;
  border-radius: 3px;
}

nav, footer {
  background-color: #84E4E2;
}

.call-to-action {
  overflow-x: hidden;
}

.welcome-logo {
  width: 100%;
  border-radius: 5px;
}

.footer {
  padding: 25px;
  margin-top: auto;
}

.copyright {
  color: #3C6766;
  display: flex;
  justify-content: center;
  align-items: center;
}